{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block body %}
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}" style="height: 500px;">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">{% trans "About NEO TRIP" %}</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'main_home_view' %}">{% trans "Home" %}</a></li>
                    <li>{% trans "About NEO TRIP" %}</li>
                </ul>
            </div>
        </div>
    </div><!--==============================
About Area  
==============================-->
    <div class="about-area position-relative overflow-hidden overflow-hidden space" id="about-sec">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="img-box3">
                        <div class="img1 movingX">
                            <img src="{% static 'assets/img/normal/about_3_1.jpg' %}" style="width: 35em; height: 20em;" alt="{% trans 'About' %}">
                        </div>
                        <div class="img2 movingX">
                            <img src="{% static 'assets/img/normal/about_3_2.jpg' %}" style="width: 35em; height: 20em;" alt="{% trans 'About' %}">
                        </div>
                        <div class="img3 movingX">
                            <img src="{% static 'assets/img/normal/about_3_3.jpg' %}" style="width: 35em; height: 20em;" alt="{% trans 'About' %}">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="ps-xl-4">
                        <div class="title-area mb-20">
                            <h3 class="">{% trans "Dear travelers" %}</h3>
                        </div>
                        <p class="pe-xl-5">
                            {% trans "Welcome to NEO TRIP, a travel agency born from the passion and dedication of a team that cherishes their homeland, Uzbekistan, and shares a deep fascination with the fabled Silk Road." %}
                        </p>
                        <p class="pe-xl-5">
                            {% trans "Based in the city of Samarkand, we are proud to be a fully English-speaking agency with over 15 years of experience in curating unique and inspiring journeys." %}
                        </p>
                        <p class="pe-xl-5">
                            {% trans "Our mission is to offer you the opportunity to discover Uzbekistan and the wonders of Central Asia through tailor-made travel experiences." %}
                        </p>
                        <p class="pe-xl-5">
                            {% trans "With our signature program, Customized Uzbekistan, we create itineraries that are steeped in authenticity, carefully designed to align with your personal interests, pace, and preferences." %}
                        </p>
                        <p class="pe-xl-5">
                            {% trans "Whether you're seeking cultural immersion, historical exploration, or breathtaking natural landscapes, we are here to guide you every step of the way." %}
                        </p>
                        <p class="pe-xl-5">
                            {% trans "Share your travel aspirations with us, and together we'll craft the perfect journey, ensuring every detail is thoughtfully considered to bring your dream adventure to life." %}
                        </p>
                        <p class="pe-xl-5">
                            {% trans "Let us help you create memories that will last a lifetime." %}
                        </p>
                        <br>
                        <div class="mt-35">
                            <a href="{% url 'main_contact' %}" class="th-btn style3 th-icon">
                                {% trans "Contact With Us" %}
                            </a>
                        </div>                        
                    </div>
                </div>
                
            </div>
        </div>
        <div class="shape-mock up movingX d-none d-xxl-block" data-top="4%" data-left="2%">
            <img src="{% static 'assets/img/shape/shape_2_1.png' %}" alt="{% trans 'shape' %}">
        </div>
        <div class="shape-mockup jump d-none d-xxl-block" data-top="28%" data-right="5%">
            <img src="{% static 'assets/img/shape/shape_2_2.png' %}" alt="{% trans 'shape' %}">
        </div>
        <div class="shape-mockup spin d-none d-xxl-block" data-bottom="18%" data-left="2%">
            <img src="{% static 'assets/img/shape/shape_2_3.png' %}" alt="{% trans 'shape' %}">
        </div>
        <div class="shape-mockup movixgX d-none d-xxl-block" data-bottom="18%" data-right="2%">
            <img src="{% static 'assets/img/shape/shape_2_4.png' %}" alt="{% trans 'shape' %}">
        </div>
    </div> <!--==============================
elements Area  
==============================-->

    <div class="sidebar-gallery-area space">
        <div class="container-fluid">
            <div class="slider-area">
                <div class="swiper th-slider has-shadow" data-slider-options='{"centeredSlides":"true","breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"3"},"1300":{"slidesPerView":"4"}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_1.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_2.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_3.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_4.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_5.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_6.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_7.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_8.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_9.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_10.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz//" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'assets/img/gallery/gallery_4_2.jpg' %}" style="width: 450px; height: 420px;" alt="{% trans 'Gallery Image' %}">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}