{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}

    <!-- Page Header Start !-->
    <div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}" style="height: 500px;">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">{% trans 'Destination Maldives' %}</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'main_home_view' %}">{% trans 'Home' %}</a></li>
                    <li>{% trans 'Destination Details' %}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Header End !-->

    <div class="blog-area destination-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 blog-details-wrapper">
                    <!-- Post Details Start -->
                    <article class="single-post-item mb-0">
                        <div class="post-thumbnail">
                            <a href="{% url 'destination_detail' destination.id %}" class="image-inner">
                                <img src="{{ destination.photo.url }}" alt="Location Image" style="width: 851px; height: 404px;">
                            </a>
                        </div>
                        <div class="post-content-wrapper">
                            <div class="post-content">
                                <h4>{% trans 'About' %} {{ destination.country }}</h4>
                                <p>{% trans destination.about %}</p>
                            </div>
                        </div>
                    </article>

                    <!-- Post Details End -->
                </div>
                <!-- Blog Sidebar Start -->
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area style3">
                        <div class="widget widget_search  ">
                            <form class="search-form">
                                <input type="text" placeholder="{% trans 'Search' %}">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">{% trans 'Categories' %}</h3>
                            <ul>
                                <li>
                                    <a href="blog.html"><img src="assets/img/theme-img/map.svg" alt="">{% trans 'City Tour' %}</a>
                                    <span>(8)</span>
                                </li>
                                <li>
                                    <a href="blog.html"><img src="assets/img/theme-img/map.svg" alt="">{% trans 'Beach Tours' %}</a>
                                    <span>(6)</span>
                                </li>
                                <li>
                                    <a href="blog.html"><img src="assets/img/theme-img/map.svg" alt="">{% trans 'Wildlife Tours' %}</a>
                                    <span>(2)</span>
                                </li>
                                <li>
                                    <a href="blog.html"><img src="assets/img/theme-img/map.svg" alt="">{% trans 'News & Tips' %}</a>
                                    <span>(7)</span>
                                </li>
                                <li>
                                    <a href="blog.html"><img src="assets/img/theme-img/map.svg" alt="">{% trans 'Adventure Tours' %}</a>
                                    <span>(9)</span>
                                </li>
                                <li>
                                    <a href="blog.html"><img src="assets/img/theme-img/map.svg" alt="">{% trans 'Mountain Tours' %}</a>
                                    <span>(10)</span>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <!-- Blog Sidebar End -->
            </div>
        </div>
    </div>
    <!--- Blog End !-->
{% endblock body %}