{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}

    <!-- Page Header Start !-->
    <div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}" style="height: 600px;">
        <div class="container">
            <div class="breadcumb-content">
                <ul class="breadcumb-menu">
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Header End !-->

    <div class="blog-area destination-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 blog-details-wrapper">
                    <!-- Post Details Start -->
                    <article class="single-post-item mb-0">
                        <div class="post-thumbnail">
                            <a href="{% url 'destination_detail' destination.id %}" class="image-inner">
                                <img src="{{ destination.photo.url }}" alt="Location Image" style="width: 851px; height: 404px;">
                            </a>
                        </div>
                        <div class="post-content-wrapper">
                            <div class="post-content">
                                <h4>{% trans 'About' %} {{ destination.country }}</h4>
                                <p>{% trans destination.about|safe %}</p>
                            </div>
                        </div>
                    </article>

                    <!-- Post Details End -->
                </div>
                <!-- Blog Sidebar Start -->
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area style3">
                        <br>
                        <div class="widget widget_categories">
                            <h3 class="widget_title">{% trans "Categories" %}</h3>
                            <ul>
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'category_tours' category.id %}">
                                            <img src="{% static 'assets/img/theme-img/map.svg' %}" alt="">
                                            {{ category.name }}
                                        </a>
                                        <span>({{ category.tours.count }})</span> <!-- Kategoriyaga tegishli turlar soni -->
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>   
                    </aside>
                </div>
                <!-- Blog Sidebar End -->
            </div>
        </div>
    </div>
    <!--- Blog End !-->
{% endblock body %}