{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}

<div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}" style="height: 600px;">
    <div class="container">
        <div class="breadcumb-content">
            <ul class="breadcumb-menu">
            </ul>
        </div>
    </div>
</div><!--==============================
tour Area
==============================-->
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 blog-details-wrapper">
                    <!-- Post Details Start -->
                    <article class="single-post-item">
                        <div class="post-title-wrapper">
                            <h3 class="post-title">
                                <a href="#">{{ tour.title }}</a>
                            </h3>
                        </div>
                        <div class="post-meta style-2">
                                <div class="post-meta-inner">
                                    <div class="date-info">
                                        <i class="fa-solid fa-location-dot"></i> 
                                        <p class="date" style="display: inline;">{{ tour.country }}</p>
                                    </div>
                                    <div class="time-info">
                                        <i class="fa-solid fa-clock"></i> 
                                        <p class="time" style="display: inline;">{{ tour.duration }}</p>
                                    </div>
                                </div>
                                <h5 class="price">{{ tour.calc_disc }}</h5>
                         </div>
                        <div class="post-thumbnail">
                           <a href="#">
                              <img src="{{ tour.photo.url }}" alt="{{ tour.title }}" style="width: 1000px; height: 500px; object-fit: cover;">
                          </a>
                        </div>
                        <div class="post-content-wrapper">
                            <div class="post-content">
                                <h4>{% trans 'About this tour' %}</h4>
                                <p>{{ tour.overview |safe }}</p>
                                <div class="post-card-divider"></div>
                        </div>
                    </article>

                    <!-- Post Details End -->
                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>                      
                        <!-- New Booking Form Widget End -->
                        <div class="widget widget_categories">
                            <h3 class="widget_title">{% trans "Categories" %}</h3>
                            <ul>
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'category_tours' category.id %}">
                                            <img src="{% static 'assets/img/theme-img/map.svg' %}" alt="">
                                            {{ category.name }}
                                        </a>
                                        <span>({{ category.tours.count }})</span> <!-- Kategoriyaga tegishli turlar soni -->
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>                        
                    </aside>
                </div>
            </div>
            <div class="location-map">
                <h3 class="page-title mt-45 mb-30">{% trans 'Location' %}</h3>
                <div class="contact-map style3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.237706196069!2d66.93668731577716!3d39.6442596770721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d1931fa4044e3%3A0xef41591b30dcc37a!2s448%2C%20Firdavsiy%20ko&#39;chasi%2084%2C%20Samarqand%2C%20Samarqand%20viloyati!5e0!3m2!1sen!2sus!4v1609863674710!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="contact-icon">
                        <img src="{% static 'assets/img/icon/location-dot3.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-mockup about-emoji d-none d-xxl-block" data-bottom="45%" data-right="29%"><img src="assets/img/icon/emoji.png" alt="">
        </div>
        <div class="shape-mockup shape1 d-none d-xxl-block" data-bottom="55%" data-right="12%">
            <img src="{% static 'assets/img/shape/shape_1.png' %}" alt="shape">
        </div>
        <div class="shape-mockup shape2 d-none d-xl-block" data-bottom="51%" data-right="8%">
            <img src="{% static 'assets/img/shape/shape_2.png' %}" alt="shape">
        </div>
        <div class="shape-mockup shape3 d-none d-xxl-block" data-bottom="53%" data-right="5%">
            <img src="{% static 'assets/img/shape/shape_3.png' %}" alt="shape">
        </div>
    </section>

{% endblock body %}