{% load i18n %}
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NEO TRIP - Travel & Tour Booking Agency</title>
    <meta name="author" content="NEO TRIP">
    <meta name="description" content="NEO TRIP - Travel & Tour Booking Agency">
    <meta name="keywords" content="NEO TRIP - Travel & Tour Booking Agency">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Montez&display=swap" rel="stylesheet">




    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">

    <!-- Swiper css -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->


    <!--********************************
   		Code Start From Here 
	******************************** -->

    <div class="magic-cursor relative z-10">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div>


    <!--==============================
     Preloader
  ==============================-->
    <div id="preloader" class="preloader ">
        <div class="preloader-inner">
            <img src="{% static 'assets/img/COLORVAR2.png' %}" style="width: 600px;" alt="">
        </div>
    </div> <!--==============================
    Sidemenu
============================== -->
    <div class="sidemenu-wrapper sidemenu-info ">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget  ">
                <div class="th-widget-about">
                    <div class="about-logo">
                        <a href="{% url 'main_home_view' %}"><img src="{% static 'assets/img/COLORVAR2.png' %}" alt="NEO TRIP"></a>
                    </div>
                    <p class="about-text">{% trans 'Rapidiously myocardinate cross-platform intellectual capital model. Appropriately create interactive infrastructures' %}</p>
                    <div class="th-social">
                        <a href="https://www.facebook.com/profile.php?id=61568818148836"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
            <div class="widget  ">
                <h3 class="widget_title">Get In Touch</h3>
                <div class="th-widget-contact">
                    <div class="info-box_text">
                        <div class="icon">
                            <img src="{% static 'assets/img/icon/phone.svg' %}" alt="img">
                        </div>
                        <div class="details">
                            <p><a href="tel:+01234567890" class="info-box_link">+998 97 925 17 13</a></p>
                            <p><a href="tel:+09876543210" class="info-box_link">+998 91 557 77 13</a></p>
                        </div>
                    </div>
                    <div class="info-box_text">
                        <div class="icon">
                            <img src="{% static 'assets/img/icon/envelope.svg' %}" alt="img">
                        </div>
                        <div class="details">
                            <p><a href="mailto:mailinfo00@tourm.com" class="info-box_link">contactsardor@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="info-box_text">
                        <div class="icon"><img src="{% static 'assets/img/icon/location-dot.svg' %}" alt="img"></div>
                        <div class="details">
                            <p>str. Firdavsiy 84/448, 140105, Samarkand, Uzbekistan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
    Mobile Menu
  ============================== -->
    <div class="th-menu-wrapper onepage-nav">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="{% url 'main_home_view' %}"><img src="{% static 'assets/img/COLORVAR2.png' %}" alt="NEO TRIP"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li class="">
                        <a class="active" href="{% url 'main_home_view' %}">{% trans 'Home' %}</a>
                    </li>
                    <li><a href="{% url 'main_about' %}">{% trans 'About Us' %}</a></li>
                    <li class="">
                        <a href="{% url 'main_destination' %}">{% trans 'Destination' %}</a>
                    </li>
                    <li class="">
                        <a href="{% url 'tours' %}">{% trans 'Tour' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'post_post_list' %}">{% trans 'Blog' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'main_contact' %}">{% trans 'Contact us' %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!--==============================
	Header Area
==============================-->
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container th-container" >
                <div class="row justify-content-center justify-content-xl-between align-items-center" >
                    <div class="col-auto d-none d-md-block">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-xl-inline-block"><i class=""></i>
                                    <span>📧 contactsardor@gmail.com</span>
                                </li>
                                <li class="d-none d-xl-inline-block"><i class="fas fa-phone"></i>
                                    <span>+998 91 557 77 13</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-right"> 
                            <form method="get" action="{% url 'set_language' %}">
                                <div class="currency-menu">
                                    <select class="form-select nice-select" onchange="window.location.href=this.value;">
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% for lang in LANGUAGES %}
                                            <option value="/{{ lang.0 }}/" {% if LANGUAGE_CODE == lang.0 %}selected{% endif %}>
                                                {{ lang.1 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            
                            <div class="header-links">
                                <ul>
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                                    {% else %}
                                        <li><a href="{% url 'register' %}" id="login-register-btn">{% trans 'Sign In / Register' %}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container th-container" >
                    <div class="row align-items-center justify-content-between" >
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="{% url 'main_home_view' %}"><img src="{% static 'assets/img/COLORVAR2.png' %}" style="width: 250px;" alt="NEO TRIP"></a>
                            </div>
                        </div>
                        <div class="col-auto me-xl-auto">
                            <nav class="main-menu d-none d-xl-inline-block">
                                <ul>
                                    <li>
                                        <a href="{% url 'main_home_view' %}">{% trans 'Home' %}</a>
                                    </li>
                                    <li><a href="{% url 'main_about' %}">{% trans 'About Us' %}</a></li>
                                    <li class="">
                                        <a href="{% url 'main_destination' %}">{% trans 'Destination' %}</a>
                                    </li>
                                    <li class="">
                                        <a href="{% url 'tours' %}">{% trans 'Tour' %}</a>
                                    </li>   
                                    <li class="">
                                        <a href="{% url 'post_post_list' %}">{% trans 'Blog' %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'main_contact' %}">{% trans 'Contact us' %}</a>
                                    </li>
                                </ul>
                            </nav>
                            <button type="button" class="th-menu-toggle d-block d-xl-none"><i class="far fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-button">
                                <a href="{% url 'tours' %}" class="th-btn style3 th-icon">{% trans 'Book Now' %}</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo-bg" style="background-color: white; width: 300px;" data-mask-src="{% static 'assets/img/logo_bg_mask.png' %}"></div>
            </div>
        </div>
    </header>

         {% block body %}
         {% endblock %}
<!--==============================
	Footer Area
==============================-->
<footer class="footer-wrapper bg-title footer-layout2">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="{% url 'main_home_view' %}"><img src="{% static 'assets/img/COLORVAR2.png' %}" style="width: 300px;" alt="NEO TRIP"></a>
                            </div>
                            <p class="about-text">{% trans 'Our agency is your trusted partner in making your dream journey a reality. We offer unforgettable trips with the best service and affordable prices.' %}</p>
                            <div class="th-social">
                                <a href="https://www.facebook.com/profile.php?id=61568818148836"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                                <a href="https://www.instagram.com/neotripuz/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="{% url 'main_home_view' %}">{% trans 'Home' %}</a></li>
                                <li><a href="{% url 'main_about' %}">{% trans 'About us' %}</a></li>
                                <li><a href="{% url 'main_contact' %}">{% trans 'Terms of Service' %}</a></li>
                                <li><a href="{% url 'tours' %}">{% trans 'Tour Booking Now' %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">{% trans 'Get In Touch' %}</h3>
                        <div class="th-widget-contact">
                            <div class="info-box_text">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/phone.svg' %}" alt="img">
                                </div>
                                <div class="details">
                                    <p><a href="tel:++998979251713" class="info-box_link">+998 97 925 17 13</a></p>
                                    <p><a href="tel:+998915577713" class="info-box_link">+998 91 557 77 13</a></p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/envelope.svg' %}" alt="img">
                                </div>
                                <div class="details">
                                    <p><a href="mailto:contactsardor@gmail.com" class="info-box_link">contactsardor@gmail.com</a></p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon"><img src="{% static 'assets/img/icon/location-dot.svg' %}" alt="img"></div>
                                <div class="details">
                                    <p>Firdavsiy 84/448, 140105, Samarqand, Ouzbékistan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">{% trans 'Instagram Post' %}</h3>
                        <div class="sidebar-gallery">
                            <div class="gallery-thumb">
                                <img src="{% static 'assets/img/widget/gallery_1_1.jpg' %}" style="height: 96px;" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{% static 'assets/img/widget/gallery_1_2.jpg' %}" style="height: 96px;" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{% static 'assets/img/widget/gallery_1_3.jpg' %}" style="height: 96px;" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{% static 'assets/img/widget/gallery_1_4.jpg' %}" style="height: 96px;" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{% static 'assets/img/widget/gallery_1_5.jpg' %}" style="height: 96px;" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{% static 'assets/img/widget/gallery_1_6.jpg' %}" style="height: 96px;" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/neotripuz/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap" style="height: 70px;">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <p class="copyright-text">
                        <a href="https://mrit.uz" target="_blank">Created By MRIT</a>
                    </p>
                </div>
                <div class="col-md-6 text-end d-none d-md-block">
                    <div class="footer-card">
                        <span class="title">We Accept</span>
                        <img src="{% static 'assets/img/shape/cards.png' %}" style="width: 30px;" alt="">
                        <img src="{% static 'assets/img/shape/cards1.png' %}" style="width: 50px;" alt="">
                        <img src="{% static 'assets/img/shape/cards12.png' %}" style="width: 50px;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup movingX d-none d-xxl-block" data-top="24%" data-left="5%">
        <img src="{% static 'assets/img/shape/shape_8.png' %}" alt="shape">
    </div>
</footer>
    <!--==============================
    All Js File
============================== -->
<!-- Jquery -->
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>

<!-- Swiper Js -->
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Magnific Popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

<!-- Counter Up -->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>

<!-- Range Slider -->
<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>

<!-- imagesloaded -->
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>

<!-- isotope -->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>

<!-- gsap -->
<script src="{% static 'assets/js/gsap.min.js' %}"></script>

<!-- circle-progress -->
<script src="{% static 'assets/js/circle-progress.js' %}"></script>

<script src="{% static 'assets/js/matter.min.js' %}"></script>
<script src="{% static 'assets/js/matterjs-custom.js' %}"></script>

<!-- nice select -->
<script src="{% static 'assets/js/nice-select.min.js' %}"></script>

<!-- Main Js File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>