{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
    <!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}" style="height: 600px;">
    <div class="container">
        <div class="breadcumb-content">
            <ul class="breadcumb-menu">
            </ul>
        </div>
    </div>
</div><!--==============================
        Blog Area
    ==============================-->
    <section class="th-blog-wrapper blog-details space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-7">
                    <div class="th-blog blog-single">
                        <div class="blog-img">
                            <img src="{{ post.photo.url }}" alt="{% trans 'Blog Image' %}">
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <a class="author" href="{% url 'post_post_list' %}"><i class="fa-light fa-user"></i>{% trans "By Admin" %}</a>
                                <a href="{% url 'post_post_list' %}"><i class="fa-regular fa-calendar"></i>{{ post.created_at|date:"l, j F Y" }}</a>
                            </div>
                            <h3 class="blog-title">{{ post.title }}</h3>
                            <p class="blog-text">{{ post.body|safe }}</p>
                            <div class="share-links clearfix ">
                                <div class="row justify-content-between">
                                    <div class="col-md-auto">
                                        <span class="share-links-title">{% trans "Tags:" %}</span>
                                        <div class="tagcloud">
                                            <a href="{% url 'post_post_list' %}">{% trans "Apartment" %}</a>
                                            <a href="{% url 'post_post_list' %}">{% trans "Buyer" %}</a>
                                            <a href="{% url 'post_post_list' %}">{% trans "Modern" %}</a>
                                            <a href="{% url 'post_post_list' %}">{% trans "Luxury" %}</a>
                                        </div>
                                    </div>
                                    <div class="col-md-auto text-xl-end">
                                        <div class="share-links_wrapp">
                                            <span class="share-links-title">{% trans "Share:" %}</span>
                                            <div class="social-links">
                                                <a href="https://www.facebook.com/profile.php?id=61568818148836"><i class="fab fa-facebook-f"></i></a>
                                                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                                <a href="https://www.instagram.com/neotripuz/"><i class="fab fa-instagram"></i></a>
                                                <a href="https://www.telegram.com" target="_blank"><i class="fab fa-telegram"></i></a>
                                            </div>
                                        </div>
                                    </div><!-- Share Links Area end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
                        <div class="widget widget_categories">
                            <h3 class="widget_title">{% trans "Categories" %}</h3>
                            <ul>
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'category_tours' category.id %}">
                                            <img src="{% static 'assets/img/theme-img/map.svg' %}" alt="">
                                            {{ category.name }}
                                        </a>
                                        <span>({{ category.tours.count }})</span> <!-- Kategoriyaga tegishli turlar soni -->
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <div class="shape-mockup shape1 d-none d-xxl-block" data-bottom="5%" data-right="8%">
            <img src="{% static 'assets/img/shape/shape_1.png' %}" alt="shape">
        </div>
        <div class="shape-mockup shape2 d-none d-xl-block" data-bottom="1%" data-right="7%">
            <img src="{% static 'assets/img/shape/shape_2.png' %}" alt="shape">
        </div>
        <div class="shape-mockup shape3 d-none d-xxl-block" data-bottom="2%" data-right="4%">
            <img src="{% static 'assets/img/shape/shape_3.png' %}" alt="shape">
        </div>
    </section>

{% endblock body %}