{% load static %}
{% load i18n %}

<head>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="tab-content" id="pills-tabContent" style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; background-image: url('{% static 'assets/img/travel.jpg' %}'); background-size: cover; background-position: center;">
        <!-- Reset Password Tab -->
        <div class="tab-pane fade active show" id="pills-reset-password" role="tabpanel" aria-labelledby="pills-reset-password-tab" style="width: 30%; border-radius: 20px; box-shadow: 0px 0px 15px 0px; padding: 20px; backdrop-filter: blur(10px); background-color: rgba(0, 0, 0, 0.1);">
            <h3 class="th-form-title mb-30 text-center text-white">Reset your password</h3>
            <form action="{% url 'reset_password' %}" method="POST" class="reset-password-form ajax-contact">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-12">
                        <label class="text-white">Your email*</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email address" required>
                    </div>
                    <div class="form-btn mt-20 col-12 text-center">
                        <button type="submit" class="th-btn btn-fw th-radius2">Send Reset Link</button>
                    </div>
                </div>
                {% if error_message %}
                <p class="form-messages error text-center mt-3" style="color: red;">{{ error_message }}</p>
                {% endif %}
                <div class="mt-3 text-center">
                    <p><a href="{% url 'login' %}" class="forgot_pass_btn" style="color: lightblue;">Return to Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
